.gamefield {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid black;
  transition: all 0.3s ease;
  background-color: #bac4cd;
}

.gamefield__row {
  width: 100%;
  height: 45px;
  display: flex;
  margin-bottom: 3px;
  cursor: pointer;
}

.gamefield__row__item {
  flex-grow: 1;
  border-radius: 3px;
  margin-right: 3px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 0;
  position: relative;
  padding-left: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #cab395;
  opacity: 0;
}

.gamefield__row__item._appearing {
  opacity: 1;
}

.gamefield__row__item._autoWidth {
  transition: all 0.2s ease;
  width: auto !important;
}

.gamefield__row__item:last-child {
  margin-right: 0;
}

.gamefield__row__item::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -15px;
  width: 20px;
  height: 20px;
  background-color: #cab395;
  border-radius: 50%;
  z-index: 2;
  opacity: 0;
  transition:
    opacity 0.4s ease-in-out,
    background-color 0.3s ease,
    z-index 0s;
  border-right: 2px solid #ab8045;
  box-shadow: 3px 0 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.gamefield__row__item::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -5px;
  width: 20px;
  height: 20px;
  background-color: #bac4cd;
  border-radius: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition:
    opacity 0.4s ease-in-out,
    background-color 0.3s ease,
    z-index 0s;
  z-index: 0;
}

.gamefield__row__item._appearing {
  opacity: 1;
}

.gamefield__row__item._appearing::before,
.gamefield__row__item._appearing::after {
  opacity: 1;
}

.gamefield__row__item:last-child::before {
  display: none;
}

.gamefield__row__item:first-child::after {
  display: none;
}

.gamefield__words-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 20px;
  border: 2px solid black;
  margin-bottom: 20px;
  background-color: #9ac6d6;
}

.gamefield__words__item {
  position: relative;
  padding: 10px 25px 10px 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #cab395;
}

.gamefield__words__item::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -15px;
  width: 20px;
  height: 20px;
  background-color: #cab395;
  border-radius: 50%;
  transition: all 0.3s ease;
  border-right: 2px solid #ab8045;
  box-shadow: 3px 0 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.gamefield__words__item::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -7px;
  width: 20px;
  height: 20px;
  background-color: #9ac6d6;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  z-index: 0;
}

.gamefield__words__item._zeroWidth {
  opacity: 0;
  transform: scale(0.5);
  padding: 0;
  border-width: 0;
}

.completed-row {
  pointer-events: none;
}

.word_correct {
  color: #008000;
  font-weight: 600;
}

.word_incorrect {
  color: #da1414;
  font-weight: 600;
}

.gamefield__words__item._noPseudoBefore::before {
  display: none;
}

.gamefield__words__item._noPseudoAfter::after {
  display: none;
}

@media (any-hover: hover) {
  .gamefield__words__item:hover {
    background-color: #d8c0ff;
  }
  .gamefield__words__item:hover::before {
    background-color: #d8c0ff;
  }
  .gamefield__row__item:hover {
    background-color: #d8c0ff;
  }
  .gamefield__row__item:hover::before {
    background-color: #d8c0ff;
  }
}
