.chat__section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.chat__username__status-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
  min-height: 40px;
}

.chat__user__status._online {
  color: green;
}

.chat__user__status._offline {
  color: red;
}

.chat__window {
  flex-grow: 1;
  background-color: #193751;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  scroll-behavior: smooth;
}

.message-container {
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
  position: relative;
  background-color: #8dc0e8;
}

.message-container:last-child {
  margin-bottom: 0;
}

.message-container._you {
  background-color: #c5eba2;
}

.username__date-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 1rem;
}

.message {
  padding: 10px;
  background-color: #ffffff;
  word-break: break-word;
  margin-bottom: 5px;
  border-radius: 5px;
}

.send__message__form {
  display: flex;
  gap: 10px;
}

.send__message__form._hidden {
  visibility: hidden;
}

@media screen and (max-width: 520px) {
  .message__text__input {
    max-width: 115px;
  }
}
