body {
  background-color: #f0f0f0;
  font-size: 1.1rem;
  transition: opacity 0.5s ease;
}

.container {
  max-width: 1600px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn,
.btn_small {
  display: flex;
  justify-content: center;
  padding: 5px 10px;
  cursor: pointer;
}

.btn_small {
  display: inline-block;
}
