.enjoy__section__wrapper {
  background-image: url(../../img/enjoy-img-section/img-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 40px;
  padding: 100px;
}

.enjoy__section__title {
  max-width: 530px;
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 1.05;
  color: var(--text-light-color);
  margin-bottom: 40px;
}

.enjoy__section__description {
  max-width: 530px;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-light-color);
  margin-bottom: 41px;
}

.coffee__cup-img {
  position: absolute;
  right: -15px;
  opacity: 0;
  transition: all 0.5s ease;
}

.link-looks-like-button__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.link-looks-like-button {
  display: inline-block;
  border-radius: 100px;
  min-width: 200px;
  text-align: center;
  padding: 20px 78px;
  background-color: var(--text-light-color);
  color: var(--text-dark-color);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  transition: all 0.3s ease;
}

@media (any-hover: hover) {
  .link-looks-like-button:hover .coffee__cup-img {
    opacity: 1;
  }

  .link-looks-like-button:hover span {
    transform: translateX(-14px);
  }
}

.link-looks-like-button span {
  transition: all 0.5s ease;
}

@media screen and (max-width: 1024px) {
  .enjoy__section__wrapper {
    padding: 100px 100px 100px 60px;
  }

  .link-looks-like-button span {
    transform: translateX(-14px);
  }

  .coffee__cup-img {
    top: 2px;
    right: -14px;
  }

  .link-looks-like-button .coffee__cup-img {
    opacity: 1;
  }
}

@media screen and (max-width: 576px) {
  .enjoy__section__wrapper {
    padding: 60px 16px;
  }

  .enjoy__section__title {
    font-size: 2.625rem;
    line-height: 1.15;
  }
}

@media screen and (max-width: 380px) {
  .enjoy__section__description {
    margin-bottom: 39px;
  }
}
