.resource-about__section {
  padding-top: 100px;
}

.resourse-about__section__title {
  margin-right: -3px;
}

.resourse-about__img__wrapper {
  display: flex;
  max-height: 1060px;
  gap: 40px;
}

.resourse-about__img__leftcolumn,
.resourse-about__img__rightcolumn {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.resourse-about__img-card {
  overflow: hidden;
  max-width: 660px;
  max-height: 590px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.resourse-about__img-card-2,
.resourse-about__img-card-3 {
  max-height: 40.3%;
}

.resourse-about__img-card img {
  transition: all 0.3s ease;
  max-height: unset;
  height: auto;
  border-radius: 20px;
  transform: scale(1.1);
}

@media (any-hover: hover) {
  .resourse-about__img-card:hover img {
    transform: scale(1);
  }
}

@media screen and (max-width: 768px) {
  .resourse-about__img-card-3,
  .resourse-about__img-card-2 {
    display: none;
  }
  .resourse-about__img__wrapper {
    flex-wrap: wrap;
    justify-content: center;
    max-height: unset;
  }

  .resourse-about__img-card {
    max-width: unset;
  }

  .resourse-about__img-card img {
    transform: scale(1.05);
  }
}

@media screen and (max-width: 576px) {
  .resourse-about__img-card img {
    transform: scale(1);
  }
}
