.garage._hidden {
  display: none;
}

@keyframes moveCar {
  from {
    left: 70px;
  }
  to {
    left: calc(100% - 85px);
  }
}

.car-moving {
  animation-name: moveCar;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.pages__btns__switch-container,
.add__cars-container,
.update__cars-container,
.race__cars-container,
.change__page-container {
  display: flex;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.add__cars-container,
.update__cars-container,
.race__cars-container,
.change__page-container {
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.car {
  position: absolute;
  left: 70px;
  bottom: -9px;
  width: 70px;
  height: 100%;
  transition: all 0.2s linear;
}

.car__control__container {
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-image: url('../../assets/img/flag.png');
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: right 70px bottom -5px;
}

.car__control__container._active {
  background-color: #dbdada;
}

.drive__car {
  background-color: green;
}

.stop__car {
  background-color: #db1313;
}

.stop__car:disabled {
  background-color: #955e5e;
}

.engine__container {
  display: flex;
  gap: 5px;
}

.control__name__car-container {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 5px;
}

.car-container {
  margin-bottom: 40px;
  border-bottom: 2px dashed black;
}

.garage__page {
  margin: 10px 0 20px 0;
}
