.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

.nonograms__container {
  display: flex;
  font-size: 22px;
  justify-content: center;
  margin-top: 100px;
}

.nonograms__leftcolumn {
  width: 200px;
}

.empty__block {
  background-color: aliceblue;
  height: 230px;
  border-right: 2px solid black;
  border-bottom: 1px solid black;
}

.hints__top {
  height: 230px;
  display: flex;
  border-left: 1px solid black;
  border-right: 2px solid black;
}

.hints__top__item:nth-child(5n) {
  border-right: 2px solid black;
}

.hints__left {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.hints__left__item {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 50px;
  padding-right: 10px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.hints__left__item:nth-child(5n) {
  border-bottom: 2px solid black;
}

.hints__top__item {
  display: flex;
  align-items: end;
  justify-content: center;
  width: 50px;
  padding: 0 12px 10px;
  line-height: 125%;
  text-align: center;
  border: 1px solid black;
  border-top: 0;
}

.gamefield {
  display: flex;
  flex-wrap: wrap;
  max-width: 253px;
  border: 1px solid black;
  border-right: 2px solid black;
}

.gamefield__cell {
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.gamefield__cell:nth-child(n + 21):nth-child(-n + 25) {
  border-bottom: 2px solid black;
}

.gamefield__cell:nth-child(5n) {
  border-right: 2px solid black;
}

.gamefield__cell._active {
  background-color: black;
}

.gamefield__cell._cross::before {
  position: absolute;
  content: "";
  width: 115%;
  height: 2px;
  background-color: black;
  top: 50%;
  left: -5%;
  transform: rotate(45deg);
}

.gamefield__cell._cross::after {
  position: absolute;
  content: "";
  width: 115%;
  height: 2px;
  background-color: black;
  top: 50%;
  left: -5%;
  transform: rotate(-45deg);
}
