.header {
  padding: 20px 0;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.burger__navigation__wrapper {
  display: flex;
  justify-content: space-between;
  width: 65.7%;
}

.header__nav__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 10px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.header__menu-link {
  display: flex;
  column-gap: 8px;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.header__menu-link img {
  transform: translateY(-3px);
}

.burger-menu__container {
  display: none;
  position: relative;
  width: 44px;
  height: 44px;
  border: 1px solid var(--border-dark-color);
  border-radius: 100px;
  transition: all 0.5s ease;
}

.burger-menu__container._active .burger__menu__line_1 {
  transform: rotate(-45deg) translateX(-9px) translateY(-3px);
}

.burger-menu__container._active .burger__menu__line_2 {
  transform: rotate(45deg) translateX(-9px) translateY(3px);
}

.burger__menu__line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 18px;
  height: 2px;
  background-color: var(--text-dark-color);
  border-radius: 100px;
  transition: all 0.5s ease;
}

.burger__menu__line_1 {
  top: 39%;
}

.burger__menu__line_2 {
  bottom: 39%;
}

@media screen and (max-width: 1024px) {
  .burger__navigation__wrapper {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .header__logo {
    position: relative;
    z-index: 4;
  }

  .burger__navigation__wrapper {
    transition: all 0.3s ease;
    width: 100%;
    height: 100%;
    background-color: var(--background-body-color);
    position: fixed;
    z-index: 3;
    top: 0;
    right: -100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 161px 0 0 0;
    gap: 100px;
  }

  .burger__navigation__wrapper._active {
    transform: translateX(-100%);
  }

  .header__nav__list {
    flex-direction: column;
    font-size: 2rem;
    line-height: 1.25;
    text-align: center;
    row-gap: 60px;
  }

  .header__menu-link {
    font-size: 2rem;
    line-height: 1.25;
    column-gap: 16px;
  }

  .header__menu-link img {
    width: 40px;
    height: 40px;
  }

  .burger-menu__container {
    display: block;
    z-index: 4;
  }
}
