body {
  background-color: #eee;
  font-size: 1.3rem;
}

.container {
  max-width: 1600px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

@media (any-hover: hover) {
  .btn:hover {
    background-color: #d8c0ff;
  }
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 0.9rem;
  }
}
