header {
  display: flex;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  max-height: 10vh;
}

@media screen and (max-width: 712px) {
  header {
    padding: 10px;
  }
}
