main {
  flex-grow: 1;
  display: flex;
  gap: 20px;
  max-height: 74vh;
}

main section {
  padding: 20px;
  border: 2px solid black;
}

@media screen and (max-width: 712px) {
  main {
    gap: 10px;
  }

  main section {
    padding: 10px;
  }
}
