.search__user {
  margin-bottom: 10px;
}

.registered__user {
  position: relative;
  padding-left: 18px;
  cursor: pointer;
  word-break: break-word;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
}

.user-container._hidden {
  display: none;
}

.registered__user._hidden {
  display: none;
}

.registered__user:last-child {
  margin-bottom: 0;
}

.registered__user::before {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  transform: translateY(-42%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.registered__user._online::before {
  background-color: green;
}

.registered__user._offline::before {
  background-color: red;
}

.user-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
  gap: 10px;
}

.start__dialogue {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  color: aliceblue;
}

.message__status {
  display: flex;
  justify-content: end;
}

.context__menu {
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: bisque;
  position: absolute;
  z-index: 2;
}

.context__menu div {
  cursor: pointer;
}

.new__message__line {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 8px;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  gap: 20px;
}

.new__message__line div {
  position: relative;
}

.message__line {
  height: 3px;
  background-color: aliceblue;
  width: 41%;
  flex-shrink: 1;
}

.message__line__text {
  flex-shrink: 0;
}

.message__status__info-container {
  display: flex;
  justify-content: space-around;
  font-size: 1.05rem;
}

.unread__messages {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  min-height: 32px;
  border: 1px solid green;
  border-radius: 50%;
  font-size: 1.1rem;
  line-height: 101%;
}

.unread__messages:empty {
  border: none;
}

@media (any-hover: hover) {
  .context__menu div:hover {
    background-color: #d0aa54;
    border-radius: 5px;
    padding-left: 3px;
  }
  .registered__user:hover {
    border-color: #916828;
  }
}

@media screen and (max-width: 1024px) {
  .unread__messages {
    font-size: inherit;
  }

  .message__status__info-container {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 866px) {
  .unread__messages {
    min-width: 25px;
    min-height: 25px;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 712px) {
  .registered__user._online::before,
  .registered__user._offline::before {
    width: 7px;
    height: 7px;
  }

  .registered__user {
    padding-left: 13px;
  }

  .unread__messages {
    min-width: 22px;
    min-height: 22px;
    font-size: 0.7rem;
    line-height: 106%;
  }
}

@media screen and (max-width: 520px) {
  .unread__messages {
    min-width: 18px;
    min-height: 18px;
    font-size: 0.6rem;
    line-height: 102%;
  }
  .message__status__info-container {
    font-size: 0.7rem;
  }
}
