.login__screen {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  background-color: #7da7a7;
  display: flex;
  justify-content: center;
  padding-top: 200px;
  transition: all 0.3s ease;
}

.login__screen._hidden {
  transform: translate(-155%, -50%);
}

.login__screen__form-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.login__screen__form-container label span {
  display: block;
  margin-bottom: 5px;
  width: fit-content;
}

.login__screen__form-container label input {
  border: 2px solid #ce8181;
  border-radius: 5px;
  outline-color: #376aa4;
}

.login__screen__form-container label input:valid {
  border-color: green;
  outline: green;
}

.login__screen__form-container label input:invalid:not(:placeholder-shown) {
  border-color: red;
  outline: red;
}

.login__screen__form-container label input::placeholder {
  font-size: 1rem;
}

.login__screen__form-btn {
  width: 150px;
  cursor: pointer;
  transition: all 0.3s ease;
}
